
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aviv Lazar Team </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Aviv Lazar Team</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#use">How To Use</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#tec">Technology Document</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
      
          <h1 class="text-uppercase mb-0">Validation</h1>
          <hr class="star-light">
          <div class="container">
          <!--  th:action="@{'/playground/users/confirm/'+${user.playground}+'/'+${user.email}+'/'+${user.code}}" -->
              <form th:object="${user}" class="needs-validation" novalidate method="POST" action="/valid">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="username">User name</label>
                    <label  type="text"  class="form-control"  th:text="${user.username}" id="usernameL" value="" required></label>
                  
                    <div class="invalid-feedback">
                      Valid username is required.
                    </div>
                  </div>
  
                  <div class="col-md-6 mb-3">
                          <label for="email">Email</label>
                          <label type="text" class="form-control" th:text="${user.email}" id="emailL" ></label>
                          <input type="hidden"  class="form-control"  th:value="${user.email}"  th:field="*{email}" id="email"required>
                          
                      </div>

                      <div class="col-md-5 mb-3">
                          <label for="role">Role</label>
                          <label type="text" class="form-control" th:text="${user.role}" th:field="*{role}" id="role" ></label>
                          <input type="hidden"  class="form-control"  th:value="${user.role}"  th:field="*{role}" id="role"required>

                        </div>
                        
                        
                      <div class="col-md-5 mb-3">
                          <label for="role">PlayGround</label>
                          <label type="text" class="form-control" th:text="${user.playground}" th:field="*{playground}" id="playground" ></label>
                          <input type="hidden"  class="form-control"  th:value="${user.playground}"  th:field="*{playground}" id="playground" required>

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="code">validation status</label>
                            <label type="text" class="form-control" th:text="${user.valid}" th:field="*{valid}" id="isValidated" ></label>
                          </div>
  



                      <div class="container">
                      <button class="btn btn-secondary btn-xl" type="submit">Finally Join now! </button>
                       </div>
                </div> 
              </form>


        </div>
      </div>
    </header>

   


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
